* {
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.background_color_grey {
    background-color: #EEEFF1;
}

.width__lock {
    max-width: 1100px;
}

@media(max-width: 1279px) {
    .width__lock {
        padding: 0 18px;
    }
}

.button {
    width: 190px;
    height: 55px;
    background-color: #34547A;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

/* HEADER */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    width: 100%;
}

.navigation__list {
    display: flex;
}

.header__logo {
    width: 96px;
    height: 60px;
}

.header__content-wrapper {
    display: flex;
    width: 100%;
}

.header__content {
    display: flex;
    flex-direction: column;
}

.header__text {
    color: #727272;
}

.header__button {
    width: 225px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header__content {
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 48px;
    line-height: 78.75px;
    text-align: left;
}

@media(min-width: 1280px) {
    .header {
        padding-top: 57px;
        padding-bottom: 146px;
        gap: 140px;
    }

    .navigation {       
        align-items: center;
        justify-content: space-between;
    }

    .navigation__list {
        gap: 42px;
    }

    .navigation__link {
        color: #000000;
        cursor: pointer;
        text-decoration: none;
        line-height: 26.25px;
        text-align: left;
    }

    .navigation__link:hover {
        color: #34547A;
    }

    .header__content-wrapper {
        padding: 0 36px;
        gap: 130px;
        align-items: center;
        justify-content: center;
    }

    .header__content {        
        gap: 60px;
        align-items: flex-start;
    }

}

@media(max-width: 1279px) {
    .header {
        padding-top: 22px;
        padding-bottom: 95px;
        gap: 67px;
    }

    .navigation {
        /* padding: 0 12px; */
    }

    
   .navigation__list {
    display: none;
   }

   .header-content__logo {
    width: 298px;
   }

   .header__content-wrapper {
    flex-direction: column;
    gap: 75px;
    align-items: center;
    padding: 0 40px;
}

   .header__content {        
    gap: 30px;
    align-items: center;
   }
}


@media(max-width: 375px){
    .header__content-wrapper {
        padding: 0;
    }

    .header__content {
        gap: 44px;
        align-items: center;
    }

    .header__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
    }

    .header__text {
        padding: 0 27px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: center;

    }
}

/* MAIN */
.section {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    gap: 100px;
}

.section__description {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 540px;
}

.section__title {
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
}

.section__text {
    line-height: 26.25px;
    text-align: center;
    color: #727272;
}

.section_about {
    padding-top: 119px;
}

.label_list_wrapper {
    display: flex;
    width: 100%;
    background-color: #34547A;
    padding: 100px 0; 
    align-items: center;
    justify-content: center;
}

.label_list {
    display: flex;
    gap: 49px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.label_list__item {
    display: flex;
    gap: 20px;
}

.label_list__item__description {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label_list__item__description h3 {
    font-size: 21px;
    line-height: 24.61px;
    text-align: left;
}

.skills_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__description {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.skills__title {
    font-size: 32px;
    line-height: 37.5px;
    text-align: left;
}

.skills_list__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;    
    align-items: flex-start;
}

.skills_list_item__title {
    font-size: 16px;
    line-height: 26.25px;
    text-align: left;
    color: #727272;
}

.progress_scale {
    max-width: 445px;
    width: 100%;
    height: 4px;
    background-color: #C4C4C4;
    
}

.current_progress {
    width: 75%;
    background-color: #34547A;
    height: 100%;
}

.skills__logo {
    max-width: 555px;
    width: 100%;
}

.section_work__content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_preview {
    width: 100%;
}

.play_button {
    display: none;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

.section_work__content:hover .play_button {
    display: block;
}

.section_projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
    flex-direction: row;
    padding: 28px 0;
}

.section_projects_block {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.section_project {
    width: 50%;
    display: flex;
    position: relative;
}

.section_project_img {
    width: 100%;
}

.section_project_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(52, 84, 122, 0.8);
    background-image: url(../svg/view.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    cursor: pointer;
}

.section_project:hover .section_project_overlay {
    display: block;
}

.form {
    max-width: 540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.form_block {
    display: flex;
    width: 100%;
    gap: 30px;
}

.form_input {
    border: none;
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
    padding-left: 20px;
}

.form_textarea {
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 20px;
    padding-top: 17px;
    resize: none;
    height: 175px;
}

.form_button {
    margin-top: 50px;
}


@media(max-width: 1279px) {
    .section__description {
        padding: 0 26px;
    }

   .skills {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 98px;
   }

   .skills__description {
        align-items: center;
   }

   .skills_list__item {
    align-items: center;
   }

   .play_button {
        width: 75px;
        height: 75px;
        display: block;
   }

   .section_projects {
        padding: 34px 0;
   }

   .section_projects_block {
        width: 100%;
   }
   
   .form_block {
        flex-direction: column;
   }

}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #34547A;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer_info {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_info_name {
    font-size: 21px;
    line-height: 24.61px;
    text-align: left;
}

.footer_copyright {
    font-size: 13px;
    line-height: 21.33px;
    text-align: left;
}

.footer_links_list {
    display: flex;
    gap: 21px;
}

@media(max-width: 650px) {
    .footer {
        height: 210px;
    }

    .footer_content {
        flex-direction: column;
        gap: 30px;
    }

    .footer_info {
        align-items: center;
    }

    .footer_copyright {
        font-size: 12px;
    }
}
